@mixin space-span {
  flex: 1 1 auto;
}

@mixin container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin avatar-view {
  background: rgba(242, 246, 248, 1);
  padding: 5px;
  border-radius: 10px;
}
