<div class="login-view">
  <div class="login-container">
    <div class="avatar-container">
      <img class="avatar-img avatar-frame-off-line" src="assets/img/generic_avatar.png" alt="generic_avatar">
    </div>
    <div class="text-contanier">
      <div class="login-input">
        <h1 *ngIf="operation == 'login'" class="header-container">Iniciar sesión</h1>
        <h1 *ngIf="operation == 'register'" class="header-container">Registrate</h1>
        <p *ngIf="operation == 'register'" class="parrafe-container">Ya tienes una cuenta<a (click)="operation = 'login'" class="links-container"> ingresa aqui</a></p>
        <p *ngIf="operation == 'login'" class="parrafe-container">No tienes una cuenta<a (click)="operation = 'register'" class="links-container"> Registrate</a></p>
        <div>
          <input class="input-container" type="text" [(ngModel)]="email" placeholder="Ingrese email"><br>
          <input class="input-container" type="password" [(ngModel)]="password" placeholder="Ingrese contraseña">
          <input class="input-container" type="text" [(ngModel)]="nick" placeholder="Ingrese nickname" *ngIf="operation == 'register'">
          <button *ngIf="operation == 'login'" class="button-login" type="button" (click)="login()" >Iniciar sesión</button>
          <button *ngIf="operation == 'register'" class="button-register" type="button" (click)="register()" >Registrate</button>
        </div>
      </div>
    </div>
  </div>
</div>
