@import '../../../src/sass/variables';
@import '../../../src/sass/mixins';

.login-view {
  margin-bottom: 50px;

  @media screen and (max-width: $layout-xs) and (orientation: landscape) {
    .login-container {
      width: 100%;
    }
  }

  @media screen and (min-width: $layout-xs) and (orientation: landscape) {
    .login-container {
      margin: 0 auto;
      margin-top: 24px;
      width: 50%;
      border-radius: 16px;
      box-shadow: 0px 6px 15px 6px rgba(36, 37, 38, 0.08);

      &:hover {
        box-shadow: 5px 12px 18px rgba(36, 37, 38, 0.13);
      }
    }
  }

  .login-container {
    background-image: url('/assets/img/msnbg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
  }

  .avatar-container,
  .text-contanier {
    @include container-center;
  }

  .avatar-frame-off-line {
    background: rgba(242, 246, 248, 1);
    background-image: linear-gradient(to right, rgb(210, 214, 226) 30%, rgb(209, 213, 225) 70%);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
  }

  .avatar-img {
    margin-top: 16px;
    width: 100px;
    border-radius: 100%;
  }

  .login-input {
    text-align: center;
  }

  .header-container {
    font-weight: 400;
  }

  .parrafe-container {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
  }

  .links-container {
    color: $colorPrimary;

    &:hover {
      color: $colorSec;
      cursor: pointer;
    }
  }

  .input-container {
    margin-top: 16px;
    width: 60%;
    border: 2px solid $colorGreen;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 14px;
    color: $colorGreen;

    &:focus {
      outline: none;
      transition-duration: .6s;
      transition-delay: .5s;
      border: 2px solid $colorPrimary;
      color: $blueGradient;
    }

    &::placeholder {
      color: $colorFont;
    }
  }

  .button-login,
  .button-register {
    width: 50%;
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
	border-radius: 20px;
    padding: 10px 10px;
    color: #ffffff;
    background-color: $colorButtonGreen;
    font-size: 15px;
    font-weight: 500;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $colorButtonGreen;
      opacity: 0.6;
      transition-duration: .4s;
      transition-delay: .4s;
    }
  }

  .button-register {
    background-color: $colorButtonBlue;

    &:hover {
        background-color: $colorButtonBlue;
        opacity: 0.6;
        transition-duration: .4s;
        transition-delay: .4s;
      }
  }
}
