<div class="profile-container">
  <div class="section group">
    <div class="col span_1_of_2">
      <img class="avatar-img avatar-frame-on-line" src="assets/img/generic_avatar.png" alt="generic_avatar">
      <div class="container-photo">
        <span>Cambiar foto</span><br>
        <label class="custom-file-upload">
          <input type="file">
          subir avatar
        </label>
      </div>
    </div>
    <div class="col span_1_of_2">
      <label>Nick</label><br>
      <input type="text"><br>
      <label>Subnick</label><br>
      <input type="text"><br>
      <label>Email</label><br>
      <input type="email"><br>
      <label>Estatus</label><br>
      <select>
        <option value="online">Conectado</option>
        <option value="away">Ausente</option>
        <option value="busy">Ocupado</option>
        <option value="appear_offline">Desconectado</option>
      </select>
      <hr>
      <button>Guardar</button>
    </div>
  </div>

</div>