<div class="container-home">
  <div class="view-home">
    <div class="left-div">
      <img class="avatar-img avatar-frame-on-line" src="assets/img/generic_avatar.png" alt="generic_avatar">
    </div>
    <div class="right-div">
      <b>Adrian</b>
      <div>
        <span>Online</span>
        <br>
        <span>
          < Escribe un mensaje personal>
        </span>
      </div>
    </div>
  </div>
  <div class="view-list">

    <div>
      <input class="input-style" type="text" placeholder="buscar amigo" [(ngModel)]="query">
      <img class="icon" src="assets/img/logo_live_add.png" alt="add_avatar">
    </div>
  <hr>
    <br>
    <b>Amigos ({{friends.length}} / {{friends.length}})</b>
    <ng-container *ngFor="let user of friends | search: query; let i = index;">
      <div class="container-user" routerLink="/conversation/{{user.id}}">
        <img class="status-logo" src="assets/img/logo_live_{{user.status}}.png" alt="status">
        <b>{{user.nick}} - {{user.subnick || 'No subnick'}}</b>
        <small> {{user.email}}</small>
      </div>
    </ng-container>
  </div>
</div>